{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Django Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'faculty/css/style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>    
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">BUS443</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'details' %}">Faculty Details</a>
            </li>
          </ul>
          <ul class="navbar-nav">
		      {% if not user.is_authenticated %}
			     <ul class="navbar-nav px-3">
				     <li class="nav-item text-nowrap">
					    <a class="btn btn-light btn-sm" role="button" href="{% url 'login' %}">Log in</a>
					 </li>
				 </ul>
			  {% else %}
			     <ul class="navbar-nav">
				    <li class="nav-item">
					    <a class="nav-link" href="{% url 'logout' %}">Log out</a>
					</li>
				 </ul>
			  {% endif %}
		  </ul>
        </div>
      </nav>
    </header>

	{% block container %}
	    <div>
		    {% block content %}
			<!-- External HTML block -->
			{% endblock %}
		</div>
	{% endblock %}

  </body>
 </html>